<a href="clip-path.html"><img class="coaster clip-path" src="images/cleveland.jpg"></a>
<a href="lake-erie.html"><img class="coaster lake-erie" src="images/lake-erie.png"></a>
<a href="playhouse.html"><img class="coaster playhouse" src="images/playhouse.png"></a>
<a href="ohio.html"><img class="coaster ohio" src="images/ohio.png"></a>