<footer>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://www.twitter.com/afewgoodben" target="_blank" class="hvr-icon-bounce">
                <i class="fab fa-twitter hvr-icon"></i>
            </a>
        </li>
        <li class="list-inline-item">
        <a href="https://www.instagram.com/beneleventwelve/" target="_blank" class="hvr-icon-bounce">
            <i class="fab fa-instagram hvr-icon"></i>
        </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.facebook.com/spacejam" target="_blank" class="hvr-icon-bounce">
                <i class="fab fa-facebook hvr-icon"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.last.fm/user/noclist" target="_blank" class="hvr-icon-bounce">
                <i class="fab fa-lastfm hvr-icon"></i>
            </a>
        </li>

        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/ben-carpenter-2556299/" target="_blank" class="hvr-icon-bounce">
                <i class="fab fa-linkedin hvr-icon"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.strava.com/athletes/45181835" target="_blank" class="hvr-icon-bounce">
                <i class="fab fa-strava hvr-icon"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://letterboxd.com/benjammin/" target="_blank" class="hvr-icon-bounce">
                <div class="circles hvr-icon">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </a>
        </li>
    </ul>
</footer>