<nav>
    <a class="fancy-link" href="cssgrid.html"><i class="fas fa-th"></i></a>
    <a class="fancy-link" href="hub.html"><i class="fas fa-tachometer-alt-fast"></i></a>
    <a  class="fancy-link" href="aliens.html"><i class="fas fa-alien-monster"></i></a>
    <a class="fancy-link" href="3d.html"><i class="fas fa-cube"></i></a>
    <a href="maze2.html"><div class="maze"></div></a>
    <a class="fancy-link" href="shapes.html"><i class="fas fa-shapes"></i></a>
    <a class="fancy-link" href="masonry.html"><i class="fas fa-chimney"></i></a>
    <a class="fancy-link" href="text.html"><i class="fas fa-text-size"></i></a>
    <a class="fancy-link" href="holygrail.html"><i class="fas fa-trophy"></i></a>
    <a class="fancy-link" href="forms.html"><i class="fas fa-file-invoice"></i></a>
</nav>