<div class="sticky">
    <ul>
        <li>
        <a href="#" contenteditable>
            <i class="fal fa-pencil-alt"></i>
            <p>
            <span style="font-size: 1.4rem;">container queries</span><br />
            <span style="font-size: 2rem;">masonry grid</span><br />
                <span style="font-size: 1.1rem; line-height: 1.5;">:has() parent selector</span>
                <span style="font-size: 1.8rem;">variable fonts</span><br />
                <span style="font-size: 1.7rem;">scroll timeline</span><br />
            </p>
        </a>
        </li>
    </ul>
</div>