<h1 class="type">
    <i class="fal fa-bicycle"></i>
    <i class="fal fa-biking"></i>
    <i class="far fa-bicycle"></i>
    <i class="far fa-biking"></i>
    <i class="fas fa-bicycle"></i>
    <i class="fas fa-biking"></i>
</h1>