---
title: carps space
layout: 'base.njk'
---

<div class="carptainer">
    {% include 'sticky.njk' %}
    <div class="header-flex">
        <a href="gradient.html"><h1>{{ title }}</h1></a>
        {% include 'typewriter.njk' %}
    </div>

    <div class="wrapper">
        {% include 'navigation.njk' %}
        <main>
            <div class="carp">
                {% include 'text-bubble.njk' %}
            </div>
            <div class="text">
                Ben <span class="name">Carpenter</span> is a front end web developer in <br />
                <span class="city">Cleveland</span>, Ohio.
            </div>
            <a href="terminal.html"><img /></a>
        </main>
    </div>
    {% include 'footer.njk' %}
</div>